@app.route('/add_instructor', methods=['GET', 'POST'])
@login_required
def add_instructor():
    if current_user.role != "admin":
        return "Access Denied"

    if request.method == 'POST':
        name = request.form['name']
        email = request.form['email']
        password = request.form['password']

        instructor = User(
            name=name,
            email=email,
            password=password,
            role="instructor"
        )

        db.session.add(instructor)
        db.session.commit()

        return "Instructor Added Successfully"

    return render_template('add_instructor.html')