<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
  <h2>🎉 Test Completed</h2>

  <h3>Your Score: {{ score }} / {{ total }}</h3>

  <button onclick="location.href='/student'">Start Again</button>
  <button onclick="location.href='/progress'">View Progress</button>
  <button onclick="location.href='/logout'">Logout</button>
</div>
</body>
</html>