<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<h2>ICD Question</h2>

<p>{{ question.question }}</p>

<form method="POST">
  <input type="text" name="answer" placeholder="Enter ICD Code" required>
  <button type="submit">Submit</button>
</form>

<!-- WRONG ANSWER -->
{% if error %}
  <p style="color:red;">{{ error }}</p>
  <p style="color:green;">Correct Answer: {{ correct }}</p>
<script>
alert("Wrong! Correct Answer: {{ correct }}");
</script>
{% endif %}
{% endif %}

</body>
</html>