<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
  <h2>ICD Case Practice</h2>

  <p><b>{{ question.question }}</b></p>

  <form method="POST">
    <input type="text" name="answer" placeholder="Enter ICD Code">
    <button type="submit">Submit</button>
  </form>

  <button onclick="location.href='/logout'">Logout</button>
</div>
</body>
</html>